$font-size-base: 16;

// Colors
$background-primary: #d4dafd;
$background-secondary: #faf9f9;
$button: #daffe3;
$button-active: #ffffff;
$border-primary: #d6d6d6;
$border-secondary: #e7e7e7;
$text-muted: rgba(31, 45, 61, 0.75);
$text-heading: #e9e8e8;
$text-primary: #1f2d3d;
$text-secondary: #585858;
$text-accent: #ff3f3a;

