.aside {
  isolation: isolate;
  position: relative;
  transform: translateZ(0);

  direction: rtl;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: rem(30);
  align-items: center;
  justify-content: space-between;

  width: rem(70);
  min-width: rem(70);
  height: 100%;
  padding: rem(10);
  border: 1px solid $background-secondary;
  border-left: none;
  border-radius: 0 10px 10px 0;

  background-color: $border-primary;

  &::-webkit-scrollbar {
    width: rem(3);
    height: rem(3);
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: rem(15);
  align-items: center;

  &__button {
    position: relative;
    z-index: 100;

    width: rem(50);
    height: rem(50);
    padding: rem(10);
    border-radius: 10px;

    background-color: $button;

    transition: all 0.3s;
    &-auth {
      position: relative;
      z-index: 100;

      width: rem(50);
      height: rem(50);
      min-height: rem(50);
      border: 1px solid $border-secondary;
      border-radius: 10px;

      background-color: $button;

      transition: all 0.3s linear;
      &:hover {
        background-color: $button-active;
      }
      &:hover > .navbar__button-title {
        z-index: 100;
        opacity: 1;
      }
    }
    &--disabled {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: rem(20);
    }

    &:hover > &-icon {
      filter: none;
    }

    &-icon {
      width: 100%;
      filter: grayscale(1);
      transition: filter 0.5s;
    }
    &--active {
      & > img {
        filter: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .aside {
    overflow-y: hidden;
    flex-direction: row;
    gap: rem(10);

    width: 100%;
    height: auto;
    padding: rem(10);
    border-radius: 0 0 10px 10px;

    background-color: $border-primary;
  }
  .navbar {
    flex-direction: row-reverse;
    max-width: calc(100% - 50px);
    &__button {
      position: relative;
      width: rem(35);
      height: rem(35);
      padding: rem(8);
      &-auth {
        width: rem(35);
        height: rem(35);
        min-height: rem(35);
        &:hover {
          background-color: $button;
        }
        &:hover > .navbar__button-title {
          opacity: 0;
        }
      }
      &:hover > &-title {
        opacity: 0;
      }

      &:hover > &-icon {
        filter: none;
      }
    }
  }
}
