$font-size-base: 16;

// Colors
$background-primary: #a3b1ff;
$background-secondary: #faf9f9;
$button: #ffffff;
$button-active: #daffe3;
$button-disabled: #cacaca;
$button-secondary: #a74fff;
$button-thertialy: #03f775;
$border-primary: #d6d6d6;
$border-secondary: #e7e7e7;
$text-muted: rgba(31, 45, 61, 0.75);
$text-heading: #e9e8e8;
$text-primary: #1f2d3d;
$text-secondary: #585858;
$pop-up-background: #141414b7;
$black-shadow: #1a1a1a;
$error: #ff3f3a;
$error-muted: #df201a;