.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-bottom: 2px solid;
  &__link {
    margin: rem(10) 0;
    font-family: 'LakesNeue';
    font-size: rem(28);
    font-weight: 900;
  }
}
