.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-left: rem(70);
  border-bottom: 2px solid;
  &__link {
    margin: rem(10) 0;
    font-family: "LakesNeue";
    font-size: rem(28);
    font-weight: 900;
  }
  &__nickname {
    position: absolute;
    top: 50%;
    right: rem(20);
    transform: translate(0%, -50%);

    overflow: hidden;

    max-width: max(30%, 100px);
    padding: rem(5) rem(20);
    border: 2px solid $border-button;
    border-radius: 15px;

    font-size: rem(20);
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: $button-thertialy;
  }
}

@media (max-width: 1024px) {
  .header {
    &__link {
      font-size: rem(24);
    }
    &__nickname {
      right: rem(20);
      font-size: rem(18);
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__link {
      font-size: rem(24);
    }
    &__nickname {
      right: rem(20);
      font-size: rem(16);
    }
  }
}

@media (max-width: 576px) {
  .header {
    padding-left: 0;
    &__link {
      font-size: rem(20);
    }
    &__nickname {
      width: rem(50);
      padding: rem(5) rem(10);
      font-size: rem(16);
    }
  }
}