.progress {
  display: none;

  width: min-content;
  margin-top: rem(10);
  margin-left: rem(15);
  padding: rem(5);
  border-radius: 10px;

  text-wrap: nowrap;

  background-color: $border-secondary;
}

@media (max-width: 576px) {
  .progress {
    display: block;
  }
}
