.alert-card {
  display: flex;
  align-items: center;

  padding: 0.5rem;
  border-left: 4px solid;
  border-radius: 8px;

  box-shadow: 2px 2px 4px 2px #0000003d;

  transition: all 0.3s ease-in-out;
  // animation: creating-and-destroying 3s ease-in-out forwards;
  &__icon {
    flex-shrink: 0;
    width: rem(32);
    height: rem(32);
    margin-right: 0.5rem;
  }

  &__message {
    font-size: rem(18);
    font-weight: 600;
  }

  &--success {
    border-color: #22c55e;
    color: #166534;
    background-color: #b9ffce;

    .alert-card__icon {
      color: #22c55e;
    }

    &:hover {
      background-color: #dcfce7;
    }
  }

  &--warning {
    border-color: #f59e0b;
    color: #854d0e;
    background-color: #fef08a;

    .alert-card__icon {
      color: #f59e0b;
    }
    &:hover {
      background-color: #fdf8c3;
    }
  }

  &--error {
    border-color: #ef4444;
    color: #991b1b;
    background-color: #fcb6b6;

    .alert-card__icon {
      color: #ef4444;
    }

    &:hover {
      background-color: #fecaca;
    }
  }
}

@keyframes creating-and-destroying {
  0%,
  100% {
    transform: translateX(150%);
  }
  10%,
  90% {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .alert-card {
    &__icon {
      width: rem(32);
      height: rem(32);
      margin-right: rem(5);
    }

    &__message {
      font-size: rem(16);
    }
  }
}

@media (max-width: 768px) {
  .alert-card {
    padding: rem(5);

    &__icon {
      width: rem(24);
      height: rem(24);
      margin-right: rem(5);
    }

    &__message {
      font-size: rem(14);
    }
    &--success {
      &:hover {
        background-color: #b9ffce;
      }
    }

    &--warning {
      &:hover {
        background-color: #fef08a;
      }
    }

    &--error {
      &:hover {
        background-color: #fcb6b6;
      }
    }
  }
}
