.shop {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;

  width: 0;
  height: 100%;
  border-bottom: 2px solid $text-primary;
  border-left: 2px solid $text-primary;
  border-radius: 15px 0 0 15px;

  background-color: $text-heading;

  transition: width 0.3s;
  &--active {
    width: rem(400);
  }
  &__wrapper {
    transform: translate(0, 0);
    width: 100%;
    opacity: 0;
    transition: all 0.1s;
    &--open{
      opacity: 1;
    }
    &--closed {
      transform: translate(100%, 0%);
      display: none;
    }
  }
  &__title {
    font-size: rem(22);
    font-weight: 600;
    text-align: center;
  }
  &__background {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
  }
}
