.leaderboard {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  align-items: center;

  width: 100%;
  padding: rem(20) rem(40);
  &__title {
    font-size: rem(28);
    font-weight: 500;
    text-align: center;
  }
  &__subtitle {
    display: flex;
    gap: rem(5);
    align-items: center;

    font-size: rem(24);
    font-weight: 500;
    text-align: center;
    & > span {
      cursor: pointer;

      display: inline-block;

      padding: rem(5) rem(7);
      border: 2px solid $border-button;
      border-radius: 5px;

      font-weight: 600;

      background-color: $button-active;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(15);

    width: 100%;
    padding: rem(20);
    border-radius: 10px;

    font-size: rem(20);
    font-weight: 500;
    color: $text-white;

    background-color: $brown;

    &-item {
      display: grid;
      grid-template-columns:
        rem(40) calc((100% - 110px) / 3) calc((100% - 110px) / 3)
        calc((100% - 110px) / 3);
      gap: rem(20);
      justify-content: space-between;

      width: 100%;
      width: 100%;

      font-size: rem(24);
      text-align: center;
      & span {
        width: rem(50);
      }
      & div,
      span {
        display: flex;
        gap: rem(10);
        align-items: center;
        justify-content: center;

        height: 100%;
        padding: rem(10);
        border-radius: 5px;

        text-overflow: clip;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;

        background-color: $brown-light;
        > img {
          width: rem(40);
          height: rem(40);
        }
      }
    }
  }
  &__loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: rem(24);
  }
}

@media (max-width: 1024px) {
  .leaderboard {
    padding: rem(15) rem(30);
    &__title {
      font-size: rem(24);
    }
    &__subtitle {
      font-size: rem(22);
    }
    &__list {
      gap: rem(10);
      padding: rem(20);
      font-size: rem(18);
      &-item {
        gap: rem(15);
        font-size: rem(22);
        & div,
        span {
          gap: rem(10);
          padding: rem(10);
          > img {
            width: rem(30);
            height: rem(30);
          }
        }
        &-count {
          display: flex;
          flex-direction: column;
        }
      }
    }
    &__loading {
      font-size: rem(22);
    }
  }
}

@media (max-width: 768px) {
  .leaderboard {
    gap: rem(10);
    padding: rem(10) rem(20);
    &__title {
      font-size: rem(20);
    }
    &__subtitle {
      font-size: rem(16);
    }
    &__list {
      gap: rem(10);
      padding: rem(15);
      font-size: rem(16);
      &-item {
        grid-template-columns:
        rem(30) calc((100% - 50px) / 3) calc((100% - 50px) / 3)
        calc((100% - 50px) / 3);
        gap: rem(5);
        font-size: rem(16);
        & span {
          width: rem(30);
        }
        & div,
        span {
          gap: rem(5);
          padding: rem(5);
          > img {
            width: rem(20);
            height: rem(20);
          }
        }
      }
    }
    &__loading {
      font-size: rem(20);
    }
  }
}
