.miglioramenti {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: rem(10);
  align-items: center;
  justify-content: space-between;

  max-width: rem(190);
  border: 1px solid $button-disabled;
  border-radius: 20px;

  background-color: $background-secondary;

  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0px 5px 5px $black-shadow;
  }
  &__image {
    height: rem(90);
    padding-top: rem(15);
    padding-bottom: rem(5);
  }
  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__name {
    width: 100%;
    padding: rem(10) rem(20);

    font-size: rem(18);
    font-weight: 600;
    text-align: center;

    background-color: $button-thertialy;
  }
  &__description {
    margin: 0 rem(10);
    font-size: rem(14);
    text-align: left;
    &-coin {
      width: rem(20);
    }
  }
  &__buy {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    align-items: center;

    width: 100%;
  }
  &__price {
    display: flex;
    gap: rem(5);
    align-items: center;

    font-weight: 800;
    text-align: center;
  }
  &__button {
    width: 70%;
    margin-bottom: rem(5);
    padding: rem(5) rem(10);
    border: 1px solid $pop-up-background;
    border-radius: 10px;

    font-size: rem(18);
    font-weight: 600;
    color: $text-heading;

    background-color: $button-secondary;

    transition: transform 0.3s ease;
    &:active {
      transform: scale(0.98);
    }
    &:disabled {
      cursor: default;
      background-color: $button-disabled;
    }
  }
  &__icon {
    position: absolute;
    top: rem(15);
    right: rem(15);

    width: rem(30);
    height: rem(30);
  }
}

@media (max-width: 1024px) {
  .miglioramenti {
    &__name {
      padding: rem(8) rem(15);
      font-size: rem(16);
    }
    &__button {
      width: 80%;
      font-size: rem(16);
    }
  }
}

@media (max-width: 768px) {
  .miglioramenti {
    transition: box-shadow 0s ease;
    &__image {
      height: rem(70);
    }
    &:hover {
      box-shadow: 0px 0px 0px transparent;
    }
    &__name {
      padding: rem(5) rem(10);
    }
    &__button {
      width: 90%;
      font-size: rem(16);
    }
  }
}

@media (max-width: 500px) {
  .miglioramenti {
    width: 100%;
    max-width: none;
    height: 100%;
    &__icon {
      width: rem(25);
      height: rem(25);
    }
  }
}
