.notif{
  position: fixed;
  z-index: 10000;
  right: rem(30);
  bottom: rem(30);

  display: flex;
  flex-direction: column;
  gap: rem(10);
  justify-content: end;

  width: rem(350);
}

@media(max-width: 1024px){
  .notif{
    right: rem(20);
    bottom: rem(20);
  }
}

@media(max-width: 768px){
  .notif{
    width: rem(250);
  }
}