.setting {
  display: flex;
  flex-direction: column;
  gap: rem(10);

  font-size: rem(20);
  font-weight: 500;

  &__input {
    max-width: rem(300);
    height: min-content;
    padding: rem(10) rem(20);
    border: 1px solid $border-primary;
    border-radius: 10px;

    font-size: rem(18);
    &::placeholder {
      color: $text-primary;
    }
  }
  &__button {
    transition: all 0.3s;
    &--disabled {
      transform: translateX(rem(50));
      overflow: hidden;
      width: 0;
    }
    &--active {
      transform: translateX(0);

      width: auto;
      padding: rem(10) rem(20);
      border-radius: 10px;

      font-size: rem(18);
      font-weight: 600;
      color: $text-primary;

      background-color: $button-thertialy;
    }
  }
}
