.setting {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: rem(10);

  font-size: rem(20);
  font-weight: 500;

  &__input {
    max-width: rem(300);
    height: min-content;
    padding: rem(10) rem(20);
    border: 1px solid $border-primary;
    border-radius: 10px;

    font-size: rem(18);
    &::placeholder {
      color: $text-primary;
    }
    &-length {
      position: absolute;
      top: rem(70);
      left: rem(280);

      padding: rem(3);
      border-radius: 5px;

      font-size: rem(14);
      font-weight: 600;

      background-color: $border-secondary;
      &--red {
        color: $error;
      }
    }
  }
  &__button {
    transition: all 0.3s;
    &--disabled {
      transform: translateX(rem(50));
      overflow: hidden;
      width: 0;
    }
    &--active {
      transform: translateX(0);

      width: min-content;
      max-width: rem(200);
      margin-bottom: rem(10);
      padding: rem(10) rem(20);
      border: 2px solid $border-button;
      border-radius: 10px;

      font-size: rem(18);
      font-weight: 600;
      color: $text-primary;

      background-color: $button-thertialy;
    }
  }
}

@media (max-width: 1024px) {
  .setting {
    gap: rem(10);
    font-size: rem(18);

    &__input {
      padding: rem(8) rem(15);
      font-size: rem(18);
      &-length {
        top: rem(60);
      }
    }
    &__button {
      &--active {
        padding: rem(8) rem(15);
      }
    }
  }
}

@media (max-width: 768px) {
  .setting {
    gap: rem(5);
    font-size: rem(16);

    &__input {
      padding: rem(5) rem(10);
      font-size: rem(16);
      &-length {
        top: rem(50);
        // left: rem(280);
      }
    }
    &__button {
      &--active {
        padding: rem(5) rem(10);
        font-size: rem(16);
      }
    }
  }
}

@media(max-width: 360px){
  .setting {
    &__input {
      &-length {
        top: rem(45);
        left: 100%;
        transform: translateX(-50%);
      }
    }
  }
}
