.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: rem(10) rem(30);
  padding-left: rem(100);

  background-color: $border-primary;
  &__center {
    display: flex;
    gap: rem(30);

    margin: 0 auto;
    padding: rem(5) rem(10);
    border-radius: 5px;

    background-color: $background-secondary;
    &-item {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      align-items: center;

      max-width: rem(120);
      & > img {
        width: rem(30);
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: rem(10) rem(20);
    padding-left: rem(90);

    &__center {
      gap: rem(20);
      padding: rem(5) rem(10);
      &-item {
        max-width: rem(120);
        & > img {
          width: rem(20);
        }
      }
    }
  }
}


@media (max-width: 576px) {
  .footer {
    padding: rem(5) rem(20);
  }
}
