.improvement {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: rem(10);
  align-items: center;
  justify-content: space-between;

  min-width: rem(280);
  max-width: 30%;
  padding: rem(10) rem(20);
  border: 2px solid $border-secondary;
  border-radius: 10px;
  &__name {
    font-size: rem(18);
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
  }
  &__image {
    width: rem(80);
  }
  &__description {
    font-size: rem(16);
    text-align: center;
  }
  &__count {
    padding: rem(3) rem(5);
    border-radius: 5px;

    font-weight: 600;
    color: $text-heading;

    background-color: $border-button;
  }
  &__button {
    margin-top: rem(15);
    padding: rem(10) rem(20);
    border: 2px solid $border-button;
    border-radius: 10px;

    font-size: rem(16);
    font-weight: 600;

    background-color: $button-thertialy;
  }
}

@media (max-width: 1024px) {
  .improvement {
    min-width: rem(230);
    max-width: 45%;
    &__image {
      width: rem(60);
    }
  }
}

@media (max-width: 768px) {
  .improvement {
    gap: rem(5);
    min-width: rem(150);
    max-width: 45%;
    margin: 0 rem(5);
    &__name {
      font-size: rem(16);
    }
    &__image {
      width: rem(50);
    }
    &__button {
      margin-top: rem(10);
      padding: rem(5) rem(10);
    }
  }
}

@media (max-width: 570px) {
  .improvement {
    max-width: 100%;
  }
}
