.container {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  align-items: center;

  width: 100%;
  padding: rem(20) rem(40);
  &__title {
    font-size: rem(28);
    text-align: center;
  }
  &__image {
    width: 50%;
  }
  &__subtitle {
    font-size: rem(22);
    font-weight: 600;
  }
  &__nav {
    display: flex;
    gap: rem(20);
    align-items: center;
    justify-content: center;

    font-size: rem(24);
    &-button {
      display: flex;
      gap: rem(10);
      align-items: center;

      padding: rem(20) rem(30);
      border: 2px solid $button-thertialy;
      border-radius: 10px;

      font-size: rem(24);

      background-color: $button-active;
      & > img {
        width: rem(25);
        height: rem(25);
        filter: drop-shadow(0px 1px 2px #000);
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(20);

    width: 100%;
    padding: rem(20);
    border-radius: 20px;

    background-color: $brown;
  }
  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: rem(10) 0;
    border-radius: 10px;

    font-size: rem(20);
    font-weight: 600;
    color: $button;

    background-color: $brown-light;
    &-coin {
      width: rem(40);
      height: rem(40);
    }
    &-diamond {
      width: rem(40);
      height: rem(40);
    }
    &-container {
      width: rem(70);
    }
    &-count {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);

      padding: rem(3) rem(5);
      border: 2px solid $border-button;
      border-radius: 5px;

      font-weight: 600;
      color: $text-primary;

      background-color: $button-thertialy;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    gap: rem(15);
    padding: rem(15) rem(30);
    &__title {
      font-size: rem(24);
    }
    &__subtitle {
      font-size: rem(20);
    }
    &__nav {
      gap: rem(15);
      font-size: rem(22);
      &-button {
        padding: rem(15) rem(20);
        font-size: rem(20);
      }
    }
    &__list {
      grid-template-columns: repeat(4, 1fr);
      gap: rem(20);
      padding: rem(15);
    }
    &__item {
      font-size: rem(18);

      &-coin {
        width: rem(35);
        height: rem(35);
      }
      &-diamond {
        width: rem(35);
        height: rem(35);
      }
      &-container {
        width: rem(60);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    gap: rem(10);
    padding: rem(10) rem(20);
    &__title {
      font-size: rem(22);
    }
    &__image {
      width: 70%;
    }
    &__subtitle {
      font-size: rem(18);
    }
    &__nav {
      gap: rem(10);
      font-size: rem(20);
      &-button {
        // gap: rem(10);
        padding: rem(10) rem(15);
        font-size: rem(18);

        & > img {
          width: rem(20);
          height: rem(20);
        }
      }
    }
    &__list {
      grid-template-columns: repeat(3, 1fr);
      gap: rem(15);
      padding: rem(10);
    }
    &__item {
      padding: rem(5) 0;
      font-size: rem(16);

      &-coin {
        width: rem(25);
        height: rem(25);
      }
      &-diamond {
        width: rem(25);
        height: rem(25);
      }
      &-container {
        width: rem(45);
      }
      &-count {
        padding: rem(2) rem(4);
      }
    }
  }
}

@media (max-width: 420px) {
  .container {
    &__nav {
      font-size: rem(18);
      &-button {
        padding: rem(5) rem(10);
        font-size: rem(18);
      }
    }
    &__list {
      gap: rem(15);
    }
  }
}
