.container {
  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: rem(15);
  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  width: rem(250);
  max-width: 40vw;

  &__name {
    font-size: rem(18);
    text-align: center;
  }
  &__image {
    width: 100%;
    max-width: rem(400);
  }
  &__info {
    position: absolute;
    top: 0;
    right: 0;

    width: rem(30);
    height: rem(30);

    background-color: transparent;
    & > img {
      width: 100%;
    }
  }
  &__nav {
    display: flex;
    gap: rem(20);
    align-items: center;
    justify-content: center;
    &-button {
      display: flex;
      gap: rem(10);
      align-items: center;

      padding: rem(10) rem(20);
      border: 2px solid $button-thertialy;
      border-radius: 10px;

      font-size: rem(18);

      background-color: $button-active;
      & > img {
        width: rem(20);
        height: rem(20);
        filter: drop-shadow(0px 1px 2px #000);
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    gap: rem(10);
    width: rem(200);

    &__name {
      font-size: rem(18);
    }
    &__image {
      max-width: rem(300);
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: rem(130);
    max-width: 40vw;

    &__name {
      font-size: rem(16);
    }
    &__image {
      max-width: rem(180);
    }
    &__info {
      width: rem(20);
      height: rem(20);
    }
    &__nav {
      gap: rem(5);
      justify-content: space-around;
      width: 100%;

      &-button {
        gap: rem(10);
        padding: rem(5) rem(10);
        font-size: rem(16);
        & > img {
          width: rem(15);
          height: rem(15);
        }
      }
    }
  }
}
