.account {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: rem(30);
  justify-content: space-between;

  height: 100%;
  padding: 0 rem(40);
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: rem(10) auto;
    font-size: rem(24);
    font-weight: 700;
    text-align: center;
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
  }
}

@media (max-width: 1024px) {
  .account {
    padding: 0 rem(30);
    &__title {
      font-size: rem(20);
    }
    &__main {
      grid-template-columns: 1fr;
      gap: rem(0);
    }
  }
}

@media (max-width: 768px) {
  .account {
    gap: rem(20);
    padding: 0 rem(20);
    &__title {
      font-size: rem(18);
    }
  }
}
