.rewards {
  position: relative;

  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;
  padding: rem(20) rem(40);
  &__title {
    margin-bottom: rem(20);
    font-size: rem(24);
    text-align: center;
  }
  &__subtitle{
    margin-bottom: rem(20);
    font-size: rem(20);
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:1024px){
  .rewards {
    padding: rem(15) rem(30);
    &__title {
      margin-bottom: rem(15);
      font-size: rem(20);
    }
    &__subtitle{
      margin-bottom: rem(15);
      font-size: rem(18);
    }
    &__list {
      gap: rem(15);
    }
  }
}

@media(max-width:768px){
  .rewards {
    padding: rem(10) rem(20);
    &__title {
      margin-bottom: rem(10);
      font-size: rem(18);
    }
    &__subtitle{
      margin-bottom: rem(10);
      font-size: rem(16);
    }
    &__list {
      gap: rem(10);
    }
  }
}