.container {
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(20);

    width: 100%;
    padding: rem(20);
    border-radius: 20px;

    background-color: $brown;
  }
  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: rem(10) 0;
    border-radius: 10px;

    font-size: rem(20);
    font-weight: 600;
    color: $button;

    background-color: $brown-light;
    &-coin {
      width: rem(40);
      height: rem(40);
    }
    &-diamond {
      width: rem(40);
      height: rem(40);
    }
    &-container {
      width: rem(70);
    }
    &-count {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);

      padding: rem(3) rem(5);
      border: 2px solid $border-button;
      border-radius: 5px;

      font-weight: 600;
      color: $text-primary;

      background-color: $button-thertialy;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      gap: rem(20);
      padding: rem(15);
    }
    &__item {
      font-size: rem(18);

      &-coin {
        width: rem(35);
        height: rem(35);
      }
      &-diamond {
        width: rem(35);
        height: rem(35);
      }
      &-container {
        width: rem(60);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      gap: rem(15);
      padding: rem(10);
    }
    &__item {
      padding: rem(5) 0;
      font-size: rem(16);

      &-coin {
        width: rem(25);
        height: rem(25);
      }
      &-diamond {
        width: rem(25);
        height: rem(25);
      }
      &-container {
        width: rem(45);
      }
      &-count {
        padding: rem(2) rem(4);
      }
    }
  }
}

@media (max-width: 420px) {
  .container {
    &__list {
      gap: rem(15);
    }
  }
}
